@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');


.background{
  background: url(dream_field.jpg) no-repeat center center fixed; 
  background-size: cover;
}    
  /* controls background */
  
.heading{color:rgb(107, 11, 90);
  font-size:300%;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px rgb(114, 185, 114);
      }

.heading2{color:rgb(136, 19, 182);
  font-size:200%;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px rgb(120, 153, 120);
}

.link{color:blue;
  font-size:150%;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px rgb(120, 153, 120);
}


.p1 {color:rgb(88, 15, 15); 
  font-size:300%;
  background-color:rgba(113, 228, 122, 0.411);
  font-family:'Stint Ultra Condensed';
  text-shadow: 2px 2px rgb(114, 185, 114);
  text-align: center;

}
/* paragraph colour and size */


/* 
#img-size {
  width: 70%;
  height: auto;
  
} */

/* (alternative img sizing) */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  }

